<!DOCTYPE html>
<html>
<head>
    <title>Client Info</title>
    <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <div id='topHeader' class='text-center bottom-border'>
            <h1>All Clients</h1>
        </div>

        <div id='content'>
            <div class="row">
                <div class="col-sm-6 right-border">
                    <p>This page displays the result of your shipping calculation.</p>
                    <p>If you entered an invalid weight, you'll see an error message in place of a total. I accomplished this by using an if/else statement in my ejs file based on the message returned from the json file.</p>
                    <p>I've also added functionality to take the select option name that the user picked for shipping, such as "first-class-flat-rate-envelope", and replace the "-" characters with a white space, and then capitalized the first letter of each word.</p>
                    <a href='\postal' class="btn btn-primary">Back to Postal Calculator</a>
                </div>
    
                <div class='col-sm-6'>
                    <!-- Pulling an individual's details 
                    <%= clientData[0]['first_name'] %>
                    -->

                    <!-- Create the table to hold the user data -->
                    <table id="clientDetails" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through the array send from the request -->
                            <% for (var client of clientData) {%>
                                <tr>
                                    <td><%= client.id %></td>
                                    <td><%= client.first_name %></td>
                                    <td><%= client.last_name %></td>
                                    <td><%= client.phone %></td>
                                    <td><%= client.email %></td>
                                    <td><a href="/clientDetails?id=<%= client.id %>">Details</a></td>
                                </tr>
                                <% };%>
                                
                        </tbody>
                    </table>



                </div>
                
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>

