<!DOCTYPE html>
<html>
<head>
    <title>Clients</title>
    <% include ../partials/header.ejs %>

</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="container">
        <div id='topHeader' class='text-center bottom-border'>
            <h1>Clients</h1>
        </div>
        <div>
            <button class="btn btn-primary" onclick=test()>View All</button>
        </div>
        <div id='content'>
            <div class="row">    
                <div class='col-sm-6'>
                    <!-- Pulling an individual's details 
                    <%= clientData[0]['first_name'] %>
                    -->

                    <!-- Create the table to hold the user data -->
                    <table id="clientDetails" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through the array send from the request -->
                            <% for (var client of clientData) {%>
                                <tr>
                                    <td><%= client.id %></td>
                                    <td><%= client.first_name %></td>
                                    <td><%= client.last_name %></td>
                                    <td><%= client.phone %></td>
                                    <td><%= client.email %></td>
                                    <td><a href="/clientDetails?id=<%= client.id %>">Details</a></td>
                                    <td>
                                        <form method="post" action='../clientDetails'>

                                            <input type="hidden" name="id" value="<%= client.id %>"></input>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </td>
                                </tr>
                                <% };%>
                                
                        </tbody>
                    </table>
                </div>

            </div>

            <div>
                <h1>Test</h1>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>

